[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-countries = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
psycopg2-binary = "*"
black = "*"
flake8 = "*"
django-debug-toolbar = "*"
django-filter = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"

[dev-packages]

[requires]
python_version = "3.9"
